<div class="container-form">
    <form action="" method="">
        <h2>Login</h2>
        <div class="">
            <label for="email">E-mail:</label>
            <input type="email" id="email" name="email" class="form-control" required>
        </div>
        <div class="">
            <label for="password">Senha:</label>
            <input type="password" id="password" name="senha"  class="form-control" required>
        </div>
        <div>
            <button type="submit" class="btn btn-primary">Entrar</button>
        </div>
    </form>
</div>




    
        
        
        
        
    


