<!--LOGIN PAGE-->
<div class="bg-[#f52c39] flex w-screen justify-center p-6 gap-2">
  <!--Imagem que vai existir lateral ao perfil-->
  <div class="border-3 border-white p-4">
    <h3 class="text-white text-bold">icon discutivel</h3>
  </div>
  <!--Formulario de login-->
  <div class="border-3 border-white p-4">
    <!--Titulo-->
    <div class="flex items-center">
      <h3 class="text-white p-4">COG</h3>
      <div class="border-3 border-white">
        <h3 class="text-white font-bold border-white p-4">MAINTEC - MANUTENCAO</h3>
      </div>
    </div>
    <!--Inputs-->
    <div class="p-4">
      <h3 class="text-white font-bold">Login:</h3>
      <div class="p-4 flex flex-col gap-6">
        <div class="flex items-center justify-center">
          <div class="relative">
            <input
              id="username"
              name="username"
              type="text"
              placeholder=""
              class="text-white border-b border-white py-1 focus:border-b-2 focus:border-white transition-colors focus:outline-none peer bg-inherit"
            />
            <label
              for="username"
              class="text-white absolute -top-4 text-xs left-0 cursor-text peer-focus:text-xs peer-focus:-top-4 transition-all peer-focus:text-white peer-placeholder-shown:top-1 peer-placeholder-shown:text-sm"
            >
              Email
            </label>
          </div>
        </div>
        <div class="flex items-center justify-center">
          <div class="relative">
            <input
              id="username"
              name="username"
              type="password"
              placeholder=""
              class="text-white border-b border-white py-1 focus:border-b-2 focus:border-white transition-colors focus:outline-none peer bg-inherit"
            />
            <label
              for="username"
              class="text-white absolute -top-4 text-xs left-0 cursor-text peer-focus:text-xs peer-focus:-top-4 transition-all peer-focus:text-white peer-placeholder-shown:top-1 peer-placeholder-shown:text-sm"
            >
              Senha
            </label>
          </div>
        </div>
      </div>
    </div>
    <!--envios-->
    <div></div>
  </div>
</div>




<!--

VERSÃO DO ENDER

<div class="container-form">
    <form action="" method="">
        <h2>Login</h2>
        <div class="">
            <label for="email">E-mail:</label>
            <input type="email" id="email" name="email" class="form-control" required>
        </div>
        <div class="">
            <label for="password">Senha:</label>
            <input type="password" id="password" name="senha"  class="form-control" required>
        </div>
        <div>
            <button type="submit" class="btn btn-primary">Entrar</button>
        </div>
    </form>
</div>
-->
