# Angular specific
frontend/node_modules/
frontend/dist/
/out-tsc/
/tmp/
/coverage/
/e2e/test-output/
/.angular/
.angular/

# Node modules and dependency files
/node_modules/
/package-lock.json
/yarn.lock

# Environment files
/.env

# Angular CLI and build artefacts
/.angular-cli.json
/.ng/

# TypeScript cache
*.tsbuildinfo

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Java / Maven
backend/target/
backend/*.jar

# backend/src/main/resources/application-prod.properties
# credenciais caso alguém usar 


# IDEs
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db
