<div class="flex flex-col lg:flex-row justify-between items-center gap-4 w-full mb-2 bg-(--queen-pink) p-3 rounded-[10px] border-solid border-5 border-(--antique-ruby) shadow-md">
  
  <div class="font-black text-[20px] text-(--french-puce) uppercase tracking-tighter">
    Painel Geral
  </div>

  <div class="flex flex-wrap items-center gap-4">
    <div class="flex gap-2">
      <button (click)="setToday()" 
              [ngClass]="activeFilter === 'HOJE' ? 'bg-(--antique-ruby) text-white' : 'bg-white text-(--french-puce) hover:bg-pink-300'" 
              class="px-4 py-2 text-xs font-bold uppercase rounded-md transition-all cursor-pointer border-2 border-(--antique-ruby)">
        Hoje
      </button>
      <button (click)="setAll()" 
              [ngClass]="activeFilter === 'TODAS' ? 'bg-(--antique-ruby) text-white' : 'bg-white text-(--french-puce) hover:bg-pink-300'" 
              class="px-4 py-2 text-xs font-bold uppercase rounded-md transition-all cursor-pointer border-2 border-(--antique-ruby)">
        Todas
      </button>
    </div>

    <div class="flex items-center gap-2 bg-white/50 p-1 rounded-md border border-(--antique-ruby)/30">
      <div class="flex items-center gap-1">
        <label class="text-[10px] font-bold text-(--french-puce) uppercase">De:</label>
        <input type="date" [(ngModel)]="startDate" (change)="onDateSelected()" class="bg-white border-2 border-(--antique-ruby) p-1 text-xs rounded outline-none text-(--french-puce) font-bold cursor-pointer">
      </div>
      <div class="flex items-center gap-1">
        <label class="text-[10px] font-bold text-(--french-puce) uppercase">Até:</label>
        <input type="date" [(ngModel)]="endDate" (change)="onDateSelected()" class="bg-white border-2 border-(--antique-ruby) p-1 text-xs rounded outline-none text-(--french-puce) font-bold cursor-pointer">
      </div>
    </div>
  </div>

</div>