<div class="relative min-h-screen bg-(--parrot-pink) flex items-center justify-center p-8 font-mono">
  
  <div class="relative w-full max-w-5xl border-4 border-(--french-puce) p-12 bg-(--queen-pink) shadow-[8px_8px_0px_var(--solid-pink)]">
    
    <div class="absolute inset-4 border border-(--french-puce) pointer-events-none"></div>

    <div class="absolute -top-6 right-12 bg-(--queen-pink) border-3 border-(--french-puce) px-8 py-2 z-10">
      <h1 class="text-(--french-puce) font-bold text-2xl tracking-widest">
        MAINTEC - MANUTENÇÃO
      </h1>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-8 items-center relative z-0">
      
      <div class="flex justify-center items-end">
        <img src="assets/images/hello-kitty-44.png" 
             alt="Hello Kitty Nurse" 
             class="w-full max-w-[350px] drop-shadow-[8px_8px_0px_rgba(202,153,171,0.5)]">
      </div>

      <div class="flex flex-col gap-6 text-(--french-puce)">
        
        <h2 class="text-2xl font-bold leading-tight">
          Bem-vindo ao nosso cantinho encantado de cuidados eletrônicos!
        </h2>

        <div class="flex justify-end">
          <button 
            [routerLink]="['auth/login/']"
            class="bg-(--french-puce) text-white font-bold py-3 px-12 text-xl hover:opacity-90 transition-all active:translate-y-1">
            LOGIN
          </button>
        </div>

        <p class="text-sm leading-relaxed text-justify border-l-2 border-(--parrot-pink) pl-4">
          Aqui, seus aparelhos recebem o carinho que merecem! Seja seu celular, tablet, notebook ou qualquer outro dispositivo querido, nós cuidamos de tudo com muito amor, atenção e um toque super fofinho kawaii! 
          <br><br>
          Assim como um abraço quentinho, nossa missão é deixar seus eletrônicos funcionando perfeitamente de novo, rapidinho e sem estresse. Com tecnologia, dedicação e muito capricho, transformamos problemas em soluções com um sorriso!
        </p>
      </div>
    </div>
  </div>
</div>
<footer>
    <app-footer-content></app-footer-content>
</footer>