<form class="p-2 w-full content-center h-full" #formDados="ngForm">
  <div class="p-4 flex flex-col h-full justify-around gap-4">
    
    <div class="flex flex-col justify-center">
      <div class="relative w-full">
        <input
          id="cpf"
          name="cpf"
          mask="000.000.000-00"
          placeholder=" "
          [(ngModel)]="cpf"
          [required]="true"
          #cpfCtrl="ngModel"
          class="border-b border-(--french-puce) py-1 focus:border-b-2 focus:border-(--french-puce) transition-colors focus:outline-none peer bg-inherit w-full"
        />
        <label
          for="cpf"
          class="text-(--french-puce) absolute -top-4 text-xs left-0 cursor-text peer-focus:text-xs peer-focus:-top-4 transition-all peer-focus:text-(--french-puce) peer-placeholder-shown:top-1 peer-placeholder-shown:text-sm"
        >
          CPF
        </label>
      </div>
      
      @if (cpfCtrl.invalid && cpfCtrl.touched) {
        <div class="text-red-500 text-xs mt-1">O CPF é obrigatório.</div>
      }
    </div>

    <div class="flex flex-col justify-center">
      <div class="relative w-full">
        <input
          id="name"
          name="name"
          type="text"
          [(ngModel)]="nome"
          placeholder=" "
          [required]="true"
          #nomeCtrl="ngModel"
          class="text-(--french-puce) border-b border-(--french-puce) py-1 focus:border-b-2 focus:border-(--french-puce) transition-colors focus:outline-none peer bg-inherit w-full"
        />
        <label
          for="name"
          class="text-(--french-puce) absolute -top-4 text-xs left-0 cursor-text peer-focus:text-xs peer-focus:-top-4 transition-all peer-focus:text-(--french-puce) peer-placeholder-shown:top-1 peer-placeholder-shown:text-sm"
        >
          Nome
        </label>
      </div>
      
      @if (nomeCtrl.invalid && nomeCtrl.touched) {
        <div class="text-red-500 text-xs mt-1">O nome é obrigatório.</div>
      }
    </div>

    <div class="flex flex-col justify-center">
      <div class="relative w-full">
        <input
          id="email"
          name="email"
          type="email"
          placeholder=" "
          [(ngModel)]="email"
          [required]="true"
          email
          #emailCtrl="ngModel"
          class="border-b border-(--french-puce) py-1 focus:border-b-2 focus:border-(--french-puce) transition-colors focus:outline-none peer bg-inherit w-full"
        />
        <label
          for="email"
          class="text-(--french-puce) absolute -top-4 text-xs left-0 cursor-text peer-focus:text-xs peer-focus:-top-4 transition-all peer-focus:text-(--french-puce) peer-placeholder-shown:top-1 peer-placeholder-shown:text-sm"
        >
          Email
        </label>
      </div>
      
      @if (emailCtrl.invalid && emailCtrl.touched) {
        <div class="text-red-500 text-xs mt-1">
          @if (emailCtrl.errors?.['required']) {
            <span>O e-mail é obrigatório.</span>
          } @else if (emailCtrl.errors?.['email']) {
            <span>Insira um e-mail válido.</span>
          }
        </div>
      }
    </div>

    <div class="flex flex-col justify-center">
      <div class="relative w-full">
        <input
          id="phone"
          name="phone"
          type="text"
          [(ngModel)]="telefone"
          mask="(00) 0 0000-0000"
          placeholder=" "
          [required]="true"
          #phoneCtrl="ngModel"
          class="border-b border-(--french-puce) py-1 focus:border-b-2 focus:border-(--french-puce) transition-colors focus:outline-none peer bg-inherit w-full"
        />
        <label
          for="phone"
          class="text-(--french-puce) absolute -top-4 text-xs left-0 cursor-text peer-focus:text-xs peer-focus:-top-4 transition-all peer-focus:text-(--french-puce) peer-placeholder-shown:top-1 peer-placeholder-shown:text-sm"
        >
          Telefone
        </label>
      </div>
      
      @if (phoneCtrl.invalid && phoneCtrl.touched) {
        <div class="text-red-500 text-xs mt-1">O telefone é obrigatório.</div>
      }
    </div>

  </div>
</form>