<div class="flex flex-col w-full h-full bg-kitty-soft bg-cover bg-center p-6 gap-4 border-4 border-(--antique-ruby) rounded-4xl overflow-hidden text-(--french-puce)">
  
  <div class="flex font-bold w-fit px-8 py-3 justify-center items-center text-xl bg-(--queen-pink) border-3 border-(--antique-ruby) text-(--french-puce) shadow-[4px_4px_0px_var(--french-puce)] self-center md:self-start">
    PAINEL DE SOLICITAÇÕES
  </div>

  <div class="flex flex-col w-full gap-3">
    @for (s of sols(); track s.id) {
      <app-solicitation-card 
        [solId]="s.id"
        [eqp]="s.equipamento"
        [estado]="s.estado" 
        [data]="s.dataHora" 
        [desc]="s.desc">
      </app-solicitation-card>
    }

    @for (s of createdSols(); track s.id) {
      <app-solicitation-card 
        [solId]="s.id"
        [eqp]="s.equipamento"
        [estado]="s.estado" 
        [data]="s.dataHora" 
        [desc]="s.desc">
      </app-solicitation-card> 
    }
  </div>
</div>
