/* You can add global styles to this file, and also import other style files */

@import "tailwindcss";

:root{
    --french-puce: #4c1208;
    --antique-ruby:  #7b1d26;
    --solid-pink: #893a49;
    --parrot-pink: #ca99ab;
    --queen-pink: #e4cddd;

    --aberta: gray;
    --orcada: brown;
    --rejeitada: red;
    --aprovada: yellow;
    --redirecionada: purple;
    --arrumada: blue;
    --paga: orange;
    --finalizada: green;

    --wallpaper-kitty: url('/images/hellokitty-hd.jpeg');
}
