/* You can add global styles to this file, and also import other style files */

@import "tailwindcss";

:root{
    --french-puce: #4c1208;
    --antique-ruby:  #7b1d26;
    --solid-pink: #893a49;
    --parrot-pink: #ca99ab;
    --queen-pink: #e4cddd;

    --ABERTA: gray;
    --ORCADA: brown;
    --REJEITADA: red;
    --APROVADA: yellow;
    --REDIRECIONADA: purple;
    --ARRUMADA: blue;
    --PAGA: orange;
    --FINALIZADA: green;

    --wallpaper-kitty: url('/images/hellokitty-hd.jpeg');

    /* scrollbar-gutter: stable; */
}

/* sim eu fiz uma scroll bonitinha pra ser usada, me processem */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: var(--queen-pink);
  border-radius: 10px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: var(--antique-ruby);
  border-radius: 10px;
  border: 2px solid var(--queen-pink);
}

.bg-kitty-soft {
  position: relative;
  z-index: 0;
}

/* pra ter um  wallpaper q não estoure os olhos de todo mundo <3 */
.bg-kitty-soft::before {
  content: "";
  position: absolute;
  top: 0; 
  left: 0;
  width: 100%; 
  height: 100%;
  z-index: -1; 
  background-image: var(--wallpaper-kitty);
  background-size: cover;
  background-position: center;
  opacity: 0.6; 
  border-radius: inherit;
}