
<mat-drawer-container class="h-screen" autosize>
  <div class="">
    <button class="p-1" type="button" (click)="drawer.toggle()">
      <mat-icon class="rounded-full bg-zinc-300">menu</mat-icon>
    </button>
  </div>
  <mat-drawer #drawer mode="side" class="">
    <div class="flex flex-col bg-(--queen-pink) items-center justify-between">
        <nav class="h-screen">
            <p class="text-white ">navbar cliente works!</p>
            <app-nav-item label="Solicitar Manutenção" route="solicitation" (click)="drawer.toggle()"></app-nav-item>
            <app-nav-item label="Logout" route="" ></app-nav-item>
        </nav>
    </div>
  </mat-drawer>
</mat-drawer-container>



