<div class="flex flex-col w-full h-full bg-kitty-soft bg-cover bg-center p-6 gap-4 border-4 border-(--antique-ruby) rounded-4xl overflow-hidden text-(--french-puce)">
  <div class="flex font-bold w-full py-4 items-center justify-center text-xl bg-(--queen-pink) border-3 border-(--antique-ruby) text-(--french-puce) uppercase tracking-widest shadow-sm">
    PAINEL DE MANUTENÇÃO
  </div>
  <div
    class="flex flex-col gap-4 bg-(--queen-pink) p-4 border-3 rounded-2xl border-(--antique-ruby) shadow-md flex-1 overflow-y-auto custom-scrollbar">

    <div class="flex flex-col lg:flex-row gap-4 border-b-2 border-(--antique-ruby)/20 pb-4">
      <div class="flex flex-col gap-1 flex-1 lg:border-r-2 border-(--antique-ruby)/20 lg:pr-4">
        <h3 class="font-black text-(--french-puce) uppercase text-sm mb-1">Dados do Cliente</h3>

        <p class="text-xs text-(--french-puce)"><span class="font-bold">Nome:</span> {{ solicitacao?.nomeCliente ?? 'N/A' }}</p>
        <p class="text-xs text-(--french-puce)"><span class="font-bold">CPF:</span> {{ solicitacao?.cpfCliente ?? 'N/A' }}</p>
        <p class="text-xs text-(--french-puce)"><span class="font-bold">E-mail:</span> {{ solicitacao?.emailCliente ?? 'N/A' }}</p>
      </div>
      <div class="flex flex-col gap-1 flex-1">
        <h3 class="font-black text-(--french-puce) uppercase text-sm mb-1">Dados da Solicitação</h3>

        <p class="text-xs text-(--french-puce)"><span class="font-bold">Categoria:</span> {{ solicitacao?.nomeCategoria ?? 'N/A' }}</p>
        <p class="text-xs text-(--french-puce)"><span class="font-bold">Equipamento:</span> {{ solicitacao?.equip }}</p>
        <p class="text-xs text-(--french-puce)"><span class="font-bold">Defeito Reportado:</span> {{ solicitacao?.desc }}</p>

        <h3 class="font-black text-(--french-puce) uppercase text-sm">Redirecionar</h3>
        <select [(ngModel)]="receivingEmployeeId"
          class="p-2 rounded outline-none border-2 border-(--antique-ruby) text-xs text-(--french-puce) shadow-sm bg-white/50 cursor-pointer">
          <option [value]="null" disabled selected>Selecione um funcionário</option>
            @for (emp of availableEmployees; track emp.id) {
              <option [value]="emp.id">{{ emp.nome }}</option>
            }
        </select>
      </div>
    </div>

      <div class="flex flex-col gap-2 flex-1">
        <h3 class="font-black text-(--french-puce) uppercase text-sm">Efetuar Manutenção</h3>

        <label class="text-[10px] font-bold text-(--french-puce) uppercase">Descrição da Manutenção</label>
        <textarea [(ngModel)]="actionReport" rows="2"
          class="p-2 rounded outline-none border-2 border-(--antique-ruby) text-xs text-(--french-puce) resize-none shadow-sm bg-white/50"></textarea>

        <label class="text-[10px] font-bold text-(--french-puce) uppercase">Orientações ao Cliente</label>
        <textarea [(ngModel)]="clientGuidelines" rows="2"
          class="p-2 rounded outline-none border-2 border-(--antique-ruby) text-xs text-(--french-puce) resize-none shadow-sm bg-white/50"></textarea>

      </div>
    
  </div>

  <div class="flex justify-end gap-4">
    <button (click)="cancel()" class="bg-(--antique-ruby) text-white px-10 py-3 font-bold shadow-[4px_4px_0px_var(--french-puce)] border-(--french-puce) border-1 active:border-b-0 hover:brightness-110 transition-all uppercase">
      Cancelar
    </button>
    <button (click)="redirectMaintenance()" class="bg-(--parrot-pink) text-(--french-puce) px-10 py-3 font-bold shadow-[4px_4px_0px_var(--french-puce)] border-(--french-puce) border-1 active:border-b-0 hover:brightness-110 transition-all uppercase">
      Redirecionar 
    </button>
    <button (click)="performMaintenance()" class="bg-(--parrot-pink) text-(--french-puce) px-10 py-3 font-bold shadow-[4px_4px_0px_var(--french-puce)] border-(--french-puce) border-1 active:border-b-0 hover:brightness-110 transition-all uppercase">
      Registrar Manutenção >
    </button>
  </div>

</div>